<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>blog</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="red">

    </div>
    <form class="" action="/api/add" method="post">
      标题：<input type="text" name="title" value="">
      作者：<input type="text" name="author" value="">
      正文：<textarea name="content" rows="8" cols="80"></textarea>
      <button type="submit" name="button">提交</button>
    </form>
    <div id="id-container">

    </div>
    <script src="js/index.js" charset="utf-8"></script>
  </body>
</html>
